<form action="<%= user_goals_url(current_user.id) %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  
  <label>
    goal
    <input type="text"
           name="goal[body]"
           value="<%= @goal.body %>">
  </label>
  
  <input type="radio" name="goal[privacy]" id="privacy_yes" value="<%= true %>">
  <label for="privacy_yes">yes_to_private</label>
  
  <input type="radio" name="goal[privacy]" id="privacy_no" value="<%= false %>">
  <label for="privacy_no">yes_to_public</label>
  
  <input type="submit" value="Create Goal">
</form>